<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiungi Profilo</title>
</head>
<body>
    <h1>Aggiungi un nuovo profilo</h1>
    <form method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br>
        <label for="cognome">Cognome:</label>
        <input type="text" id="cognome" name="cognome" required><br>
        <label for="sport">Sport:</label>
        <input type="text" id="sport" name="sport" required><br>
        <label for="sport">note opzionali:</label>
        <input type="text" id="note opzionali" name="note opzionali" required><br>
        <button type="submit">Aggiungi</button>
    </form>
    <a href="{{ url_for('home') }}">Torna alla home</a>
</body>
</html>